@use '../../styles/variables' as *;

main{
  height: 100vh;
  height: 100%;
  @include flex-direction(row)
  
}
.container_auth{
    width: 95%;
    margin: 0 auto;
    padding: 2rem;
    flex-grow: 1;
    height: 100%;
    @include flex-direction(row, center);

}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    flex-grow: 1;
    height: 100%;
    @include flex-direction(row, center);
}